<header id="header">
    <!--  Brand Logo  -->
    <a class="nav-brand" href="" target="_blank">
      <img id="header-img" src="https://i.postimg.cc/8czjYqkS/Minimal-Premade-Logos-V02-04.png" alt="Pixel Skincare">
    </a>
    
    <!--  Toggle Menu for Mobile  -->
    
    <input type="checkbox" id="toggle-menu" role="button">
    <label for="toggle-menu" class="toggle-menu">Menu</label>
    
    <!--  Menus  -->
    <nav id="nav-bar" class="navbar">
      <ul class="menu">
        <li><a class="nav-link" (click)="onBlog()">blog</a></li>
        <li><a class="nav-link" (click)="onProfile()">profile</a></li>
      </ul>
      <ul class="social-menu">
        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </header>