
* {
  background-color: #cedaf5;
}

/* Add a card effect for articles */
.card {
    background-color: #cedaf5;
    padding: 20px;
    margin-top: 20px;
    border: none;
}

  /*  Images */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }