<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 blog-card" *ngFor="let blog of blogs">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card1.png"
                        alt="First Card">
                </figure>
                <h4>{{ blog.name }}</h4>
                <p>
                    {{ blog.description | slice:0-25}}
                </p>
                <a (click)="onBlogSingle(blog.id)">Read more ></a>
            </div>
        </div>
    </div>
</div>



<!-- timestamp 25:30 -->