<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card1.png"
                        alt="First Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                </p>
                <a href="#">Read more ></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card2.png"
                        alt="Second Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                </p>
                <a href="#">Read more ></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card3.png"
                        alt="Third Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                </p>
                <a href="#">Read more ></a>
            </div>
            <div class="col-md-4 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card3.png"
                        alt="Third Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                    Quisque volutpat vehicula leo eu auctor.
                </p>
                <a href="#">Read more ></a>
            </div>
            <div class="col-md-4 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card3.png"
                        alt="Third Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit.
                    Quisque volutpat vehicula leo eu auctor.
                </p>
                <a href="#">Read more ></a>
            </div>
        </div>
    </div>
</div>