<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 blog-card">
                <figure>
                    <img src="https://raw.githubusercontent.com/alaattinerby/Kodluyoruz-Work02-Blog-Cards/main/Work02/img/card1.png"
                        alt="First Card">
                </figure>
                <h4>Lorem ipsum</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ullam autem similique amet hic unde, illo sunt animi dolore quasi necessitatibus,
                    non culpa repudiandae, dolorum doloremque molestiae adipisci incidunt velit quas. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quas corporis tempora eveniet inventore dolores voluptates
                    consequatur natus rerum totam ratione alias magni veniam, at ex illum excepturi qui enim.
                    Officiis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ut sit error voluptate,
                    tempore dolorem eum quod maiores ea ad! Illum unde quod voluptatibus consectetur eum saepe modi hic
                    minima!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ullam autem similique amet hic unde, illo sunt animi dolore quasi necessitatibus,
                    non culpa repudiandae, dolorum doloremque molestiae adipisci incidunt velit quas. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quas corporis tempora eveniet inventore dolores voluptates
                    consequatur natus rerum totam ratione alias magni veniam, at ex illum excepturi qui enim.
                    Officiis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ut sit error voluptate,
                    tempore dolorem eum quod maiores ea ad! Illum unde quod voluptatibus consectetur eum saepe modi hic
                    minima!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur dipiscing elit. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ullam autem similique amet hic unde, illo sunt animi dolore quasi necessitatibus,
                    non culpa repudiandae, dolorum doloremque molestiae adipisci incidunt velit quas. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quas corporis tempora eveniet inventore dolores voluptates
                    consequatur natus rerum totam ratione alias magni veniam, at ex illum excepturi qui enim.
                    Officiis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ut sit error voluptate,
                    tempore dolorem eum quod maiores ea ad! Illum unde quod voluptatibus consectetur eum saepe modi hic
                    minima!
                </p>
                <a href="#">Next Blog ></a>
            </div>
        </div>
    </div>
</div>